.input-box {
  width: 100%;
  background-color: white;
  padding: 22px;
  border: 1px solid black;
  border-radius: 8px;
}

.input {
  width: 90%;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.195) 1px 2px 6px;
  padding: 3px;
  cursor: pointer;
}

.error {
  text-align: center;
  color: rgb(230, 108, 108);
}
